<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Eat-Da-Burger!</title>
	    
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Passion+One:400,700" rel="stylesheet">

		<!-- Materialize Glyphs Stylesheet -->
		<link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<!-- Materialize Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<!-- My CSS Stylesheet -->
		<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">

		<!-- Link to jquery -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Materialize Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

		<!-- My JavaScript ~ The MODEL -->
		{{!-- Wait, maybe NOT the model... check example again --}}
		<script type="text/javascript" src="../../models/burger.js"></script>
	</head>
	<body>

		{{{ body }}}




		<!-- ==================== SCRIPT TAGS ==================== -->

		<!-- Link to jquery -->
		<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

		<!-- Materialize Compiled and minified JavaScript -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

		<!-- My JavaScript ~ The MODEL -->
		<!-- <script type="text/javascript" src="../../models/burger.js"></script> -->
	</body>
</html>